@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.header h1{
	margin: 0 !important;
	padding: 0 !important;
 } */

/* *{
	font-family: "Montserrat", sans-serif;
} */

/* width */
::-webkit-scrollbar {
	width: 3px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
	background: #09112C ; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
	background:  #add8e653; 
 }
 
 .J{
	animation: J 1s infinite;
 }
 
 @keyframes J{
	0%{
		 opacity: 1;
	}
	50%{
		 opacity: 0.5;
	}
	100%{
		 opacity: 0.5;
	}
 }
 
 
 .M{
	animation: M 1s infinite;
 }
 
 @keyframes M{
	0%{
		 opacity: 0.5;
	}
	50%{
		 opacity: 1;
	}
	100%{
		 opacity: 0.5;
	}
 }
 
 

 
 /* input */
 
 input , textarea{
	height: 40px;
	border: 1px solid #09112C ;
	width: 100%;
	padding-left: 20px;
 }
 
 input:focus{
	outline: none;
	border: 2px solid #09112C ;
 }
 
 textarea{
	height: 100px;
	padding-top: 10px;
 }

 
 
 
 
 .progress-container {
	width: 100%;
	background-color:   #33a6cf
 }
 
 .progress-bar {
	text-align: center;
	line-height: 30px; /* Same as height to vertically center text */
	height: 30px;
	background-color:#98d3d9;
	transition: width 4s;
 }
 
 .skill-name {
	text-align: center;
	margin-top: 5px;
 }
 .unique-button {
	/* Initial button styling */
	background-color: #98FF98; /* Example background color */
	color: black; /* Initial text color */

 }
 
 .unique-button:hover {
	color: #98FF98 !important; 
	background-color: #0c1b4f !important/* Change text color to mint on hover */
 }


body {
  background-color: #0F172A;
  color: #F1F5F9;
  font-family: 'Inter', sans-serif;
}

/* Rocket styles */
.rocket {
  filter: drop-shadow(0 0 5px rgba(190, 190, 190, 0.5));
  transition: all 0.3s ease-in-out;
  position: relative;
}

.smoke-container {
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  width: 40px;
  height: 60px;
  transition: transform 0.3s ease-out;
}

.smoke-container.down {
  transform: translateX(-50%) rotate(180deg);
 
  top: 20px;
}

.smoke, .smoke-layer {
  position: absolute;

  bottom: 0;
  transform: translateX(-50%);
  width: 40px;
  height: 60px;
  background: radial-gradient(circle, rgb(255, 103, 8) 0%, rgba(39, 29, 29, 0.426) 70%);
  opacity: 0.6;
  border-radius: 50%;
  animation: smokeRise 3s infinite;
}

.smoke-layer {
  opacity: 0.3;
  z-index: -1;
}

@keyframes smokeRise {
  0% {
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translateX(-50%) translateY(50px) scale(1.5);
    opacity: 0;
  }
}

@keyframes smokeDown {
  0% {
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translateX(-50%) translateY(-50px) scale(1.5);
    opacity: 0;
  }
}

.smoke-container.up .smoke,
.smoke-container.up .smoke-layer {
  animation: smokeRise 3s infinite;
}

.smoke-container.down .smoke,
.smoke-container.down .smoke-layer {
  animation: smokeDown 3s infinite;
}
