@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.header h1{
	margin: 0 !important;
	padding: 0 !important;
 } */

/* *{
	font-family: "Montserrat", sans-serif;
} */

/* width */
::-webkit-scrollbar {
	width: 3px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
	background: #09112C ; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
	background:  #add8e653; 
 }
 
 .J{
	animation: J 1s infinite;
 }
 
 @keyframes J{
	0%{
		 opacity: 1;
	}
	50%{
		 opacity: 0.5;
	}
	100%{
		 opacity: 0.5;
	}
 }
 
 
 .M{
	animation: M 1s infinite;
 }
 
 @keyframes M{
	0%{
		 opacity: 0.5;
	}
	50%{
		 opacity: 1;
	}
	100%{
		 opacity: 0.5;
	}
 }
 
 

 
 /* input */
 
 input , textarea{
	height: 40px;
	border: 1px solid #09112C ;
	width: 100%;
	padding-left: 20px;
 }
 
 input:focus{
	outline: none;
	border: 2px solid #09112C ;
 }
 
 textarea{
	height: 100px;
	padding-top: 10px;
 }

 
 
 
 
 .progress-container {
	width: 100%;
	background-color: #ffffff
 }
 
 .progress-bar {
	text-align: center;
	line-height: 30px; /* Same as height to vertically center text */
	height: 30px;
	background-color:#ff9216;
	transition: width 4s;
 }
 
 .skill-name {
	text-align: center;
	margin-top: 10px;
 }
 .unique-button {
	/* Initial button styling */
	background-color: #98FF98; /* Example background color */
	color: black; /* Initial text color */

 }
 
 .unique-button:hover {
	color: #98FF98 !important; 
	background-color: #0c1b4f !important/* Change text color to mint on hover */
 }


 